<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <form method="post" action="/new">
        <label for="name">Your Name:</label><br>
        <input type="text" id="name" name="name" required /><br><br>

        <label for="message">Message:</label><br>
        <textarea id="message" name="message" required></textarea><br><br>

        <button type="submit">Send Message</button>
    </form>

    <p><a href="/">Back to Home</a></p>
</body>

</html>